/*
page informations sur Python CSS
*/

/* GENERAL
------------------------------------------------- */

body{
    font-family: 'Courier New';
    background-color: #e7e0d6;
    width: 1300px;
    min-width: 800px;

}



header{
    width: 100%;
    display : flex;
    justify-content: space-around;
    background-color: #416259;
    color : #caac55;
    align-items: center;
    min-height: 70px;
}

.home img:first-child {
    display: block;
}

.home img:last-child {
    display: none; 
}
.home:hover img:last-child {
    display: block;
}
.home:hover img:first-child {
    display: none; 
}

.bandeau{
    font-size : 2.5em;
}

nav{
    width: 100%;
    margin-top: 30px;
    background-color : #598579;
    display : flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
}

/*   MARQUEURS PRINCIPAUX  ------------------------------------  */
h2{
    color: rgb(112,181,73);
}

/* SPECIFIQUES
-------------------------------------------------------------*/


.collapsible{
    width: 1200px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.titreactif {
    width: 650px;
    padding: 5px;
    margin-top:10px;
    border-radius: 20px 20px 0px 0px;
    font-size: 2em;
    color: white;
    font-weight: bold;
    background-color: rgb(112,181,73);
}
.titreinactif {
    width: 400px;
    padding: 5px;
    margin-top:10px;
    border-radius: 20px 20px 0px 0px;
    font-size: 2em;
    color: gray;
    background-color: rgba(112,181,73,0.8);
}

.titreactif:hover, .titreinactif:hover{
    cursor: pointer;
}

.main {
    width: 1200px;
    height: 1070px;
    margin: auto;
    margin-top: 0px;
    border-radius: 30px;
    padding: 15px;
    background-color: rgb(242,244,226);
}

.Memento {
    height: 90%;
    width:100%;
}

.Texte{
    height: 1000px;
    font-size: 1.2em;
    padding: 20px;
    overflow: auto;
}
.Texte li{
    margin-top: 10px;
}
